.content {
  overflow: hidden;
  height: auto;
  padding: 20px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

textarea { display: block; width: 100%; }

.blue { color: #3989f1; }
.green { color: #12be38; }
.orange { color: #ec8041; }
.yellow { color: #e4f03a; }
.red { color: #d33333; }
.gray { color: gray; }
