.outer-card {
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  background: #212121;
}

.inner-card {
  margin: 5px 0;
  cursor: pointer;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.tasks.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.5;
  }

.blue { background: #3989f1; color: black }
.green { background: #12be38; color: black }
.orange { background: #ec8041; color: black }
.yellow { background: #e4f03a; color: black }
.red { background: #d33333; color: black }
.gray { background: gray; color: black}

