.content {
  overflow: hidden;
  height: auto;
  padding: 20px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

textarea { display: block; width: 100%; }

.blue { color: #1b2bdd; }
.green { color: #2feb48; }
.orange { color: #ee732b; }
.yellow { color: #eec511; }
.red { color: #e41b1b; }
.gray { color: gray; }
