

@import '~@angular/material/theming';

html, body {
  font-family: 'Roboto, sans-serif';
  height: 100%;
}
body {
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  }

@include mat-core();

$ng-board-hub-primary: mat-palette($mat-indigo);
$ng-board-hub-accent: mat-palette($mat-green, A200, A100, A400);

$ng-board-hub-warn: mat-palette($mat-red);

$ng-board-hub-theme: mat-dark-theme($ng-board-hub-primary, $ng-board-hub-accent, $ng-board-hub-warn);

@include angular-material-theme($ng-board-hub-theme);
